.task
	&-item
		&-button
			visibility: hidden
			margin-right: 1em

		&-body:hover &-button
			visibility: visible

		&:not(.is-task-opened) > &-body &-toggle-close,
		&.is-task-opened > &-body &-toggle-open
			display: none

		&-name
			margin-right: 0.5em
			margin-left: 0.5em

		&-times
			font-size: 0.7em
			margin-right: 1em

		&-formEdit,
		&-formAddChild
			background-color: #eee
			display: none

		&.is-task-editingOwn > &-formEdit,
		&.is-editing-addChild > &-formAddChild
			display: block

	&-item-children
		border-left: 1px solid #ccc
		display: none
		margin-left: 0.5em
		padding-left: 1em

	&-item.is-task-opened > &-item-children
		display: block
