.task
	&-item
		&-button
			display: none
			margin-right: 1em

		&-body:hover &-button
			display: inline-block

		&-name
			margin-right: 0.5em

		&-times
			font-size: 0.7em
			margin-right: 1em

	&-children
		border-left: 1px solid #ccc
		margin-left: 1em
		padding-left: 1em
