.task
	&-new_area
		background-color: #eee
		display: none

		&.is-task-new_area-opened
			display: block

	&-item
		&-button
			visibility: hidden
			margin-right: 1em

		&-body:hover &-button
			visibility: visible

		&:not(.is-task-opened) > &-body &-toggle-close,
		&.is-task-opened > &-body &-toggle-open
			display: none

		&-name
			margin-right: 0.5em
			margin-left: 0.5em

		&-startIcon
			visibility: hidden

		&-body:hover &-startIcon
			visibility: visible

		&.is-working > &-body &-startIcon,
		&:not(.is-working) > &-body &-stopIcon
			display: none

		&-times
			font-size: 0.7em
			margin-right: 1em

		&-progress
			background-color: #f9f9f9
			border: 1px solid #999
			display: inline-block
			height: 6px
			margin: 0 4px
			width: 30px

			&-bar
				background-color: #99c
				display: block
				height: 100%

		&-formEdit,
		&-formAddChild
			background-color: #eee
			display: none

		&.is-task-editingOwn > &-formEdit,
		&.is-editing-addChild > &-formAddChild
			display: block

		&:last-child > &-children
			border-left-style: none

	&-item-children
		border-left: 1px solid #ccc
		display: none
		margin-left: 0.5em
		padding-left: 1em

	&-item.is-task-opened > &-item-children
		display: block
